body, * {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #555;
}

table {
  width: 100%;
}

tr td:nth-child(1) {
  width: 200px;
  text-align: right;
  padding-right: 15px;
}

#clickOutput h6 {
  margin-top: 20px;
  margin-bottom: 5px;
}

@import "bar.css";