name: CI

on:
  push:
    branches:
      - main
      - feature/*
      - bugfix/*
      - chore/*
      - hotfix/*
      - snyk-upgrade-*
      - renovate/*
      - revert-*
  pull_request:
    branches:
      - revert-**

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint-test-and-build:
    name: Lint & Test & Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Use Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm install

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm test

      - name: Build
        run: npm run build

  release:
    name: Release
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: lint-test-and-build

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: 20.20.0
          registry-url: 'https://registry.npmjs.org'

      - name: get-package-info
        id: package
        uses: codex-team/action-nodejs-package-info@91c20c2872fd5d1a6fe97d606d9dcb6553696185 # v1.1

      - name: Check node versions
        id: online-versions
        run: |
          echo "online-version=$(npm view ${{steps.package.outputs.name}}@latest version)" >> $GITHUB_OUTPUT

      - name: Print versions
        id: print-versions
        run: |
          echo "ONLINE VERSION: ${{ steps.online-versions.outputs.online-version}}"
          echo "THIS VERSION: ${{ steps.package.outputs.version}}"

      - name: Publish to NPM
        if: steps.package.outputs.version != steps.online-versions.outputs.online-version
        run: |
          npm ci
          npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
